*
{
    padding: 0;
    margin: 0;
}

body,
html
{
    cursor: none;
    overflow: hidden;
    background: black;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 200px 200px;
}

.ball {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid dodgerblue;
    border-radius: 50%;
}